*{margin: 0; padding: 0;}

.top {
    background-color: #AA97FB;
    color: #707070;
    padding: 24px 30px 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0;
    text-decoration: none;
}

.log {
    list-style: none;
    display: flex;
    gap: 10px;
}

.log li {
    cursor: pointer;
}

.container {
    display: flex;
    width: 100%;
}

.aside {
    background-color: #f2f2f2;
    width: 200px;
    height: 100vh;
    padding: 20px;
    border-right: 1px solid #ccc; /* 세로 선 */
}

.side {
    list-style: none;
    padding: 0;
}

.side li {
    margin-bottom: 30px;
    cursor: pointer;
}

.main {
    flex: 1;
    padding: 20px;
}

.main_box {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.box1 {
    display: inline-block;
    width: 40%;
    height: 400px;
    background-color: #AA97FB;
}

.box2 {
    display: inline-block;
    width: 40%;
    height: 400px;
    background-color: #AA97FB;
}